@model RateMyDebate.Models.Message

@{
    ViewBag.Title = "Details";
}



<div>
    <h4 style="text-align: center;">Message</h4>
	<hr />
    <dl class="loginCreate">
        

        <dt>
            @Html.DisplayNameFor(model => model.userInformation.fName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInformation.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.messageText):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.messageText)
        </dd>

    </dl>
</div>
<p>
    @* @Html.ActionLink("Edit", "Edit", new { id = Model.messageId }) |*@
    @Html.ActionLink("Back to inbox", "Index")
</p>
