
@{
    ViewBag.Title = "Index2";
}




<body align="center">

    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
    </ul>

    <br />

    <div>
        <input value="User Name" style="margin-left:1px" />
       <input value="Password" style="margin-left:1px"/>   
    </div>
    <div>
        <button type="button" style="margin-right:197px ">Create</button>
        <button type="button" style="margin-right:0px">Log In</button>
    </div> 
    <div>
        <a href="#" class="Test">Test</a>
    </div>
</body>
