@model RateMyDebate.ViewModels.DebateUser

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@Html.Partial("_SearchPartial")
 

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="listingTable">
    <tr>
    <th>
        @Html.DisplayNameFor(model => model.Debate.First().Subject)
    </th>
     <th>
        @Html.DisplayNameFor(model => model.Debate.First().CategoryId.CategoryName)
    </th>
    <th>
        Creator
    </th>
    <th>
        @Html.DisplayNameFor(model =>  model.Debate.First().CreatorVotes)
    </th>
    <th>
        Challenger
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Debate.First().ChallengerVotes)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Debate.First().DateTime)
    </th>
    </tr>

@foreach (var item in Model.Debate)
{
        <tr data-id="@Html.Raw(item.DebateId)" class="DisplayPage">
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorId.nickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorVotes)
            </td>
            @if (item.ChallengerId == null)
            {
                <td>
                    <a href="http://www.google.com">No challenger yet. Join?</a>
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ChallengerId.nickName)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.ChallengerVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
        </tr>
}

</table>


<script type="text/javascript">
    $(document).ready(function () {

        $("tr:even").css("border-top", "1px solid rgba(167, 166, 255, 0.35)");
        $("tr:even").css("border-bottom", "1px solid rgba(167, 166, 255, 0.35)");
        $("tr:even").css("background-color", "rgba(167, 166, 255, 0.25)");
        $("tr:odd").css("background-color", "rgba(167, 166, 255, 0.15)");
        $("tr:hover").css("background-color", "rgba(167, 166, 255, 0.75)");

    });

    $(document).ready(function () {
        $('.DisplayPage').on("click", function () {
            var id = $(this).attr('data-id');
            window.location = "LiveChat?id=" + id;
        })
    });
</script>
