@model RateMyDebate.ViewModels.DebateUser

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="listingTable">
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.Debate.First().Subject)

        </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Debate.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debate.First().CategoryId.CategoryName)
            </th>

    <th>
        Creator
    </th>
    <th>
        @Html.DisplayNameFor(model =>  model.Debate.First().CreatorVotes)
    </th>
    <th>
        Challenger
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Debate.First().ChallengerVotes)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Debate.First().Live)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Debate.First().DateTime)
    </th>
    </tr>

@foreach (var item in Model.Debate) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorId.nickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorVotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengerId.nickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengerVotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Live)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
    </tr>
}

</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("tr:even").css("background-color", "rgba(167, 166, 255, 0.25)");
        $("tr:odd").css("background-color", "rgba(167, 166, 255, 0.15)")
    });
</script>