@using System.Diagnostics
@using System.Text
@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using RateMyDebate.Models
@using RateMyDebate.ViewModels
@model RateMyDebate.ViewModels.DebateDisplayViewModel


@{
    ViewBag.Title = "LiveChat";
    Layout = "";
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/RMD.css")
    @Scripts.Render("~/bundles/modernizr")
    var user = Session["UserInfoSession"] as UserInformation;
    
}

<div class="creatorVotesDiv">
    <div class="voteDiv" id="voteCreator">Creator</div>
    <div class="nickNameDiv" id="creatorName">@Html.DisplayFor(model => model.CreatorInformation.nickName)</div>
</div>

<div class="challengerVotesDiv">
    <div class="voteDiv" id="voteChallenger">
        Challenger
    </div>
    <div class="nickNameDiv" id="challengerName">@Html.DisplayFor(model => model.ChallengerInformation.nickName)</div>
</div>

<div class="timerDiv">Loading timer...</div>

<div class="descriptionDiv">
    @Html.DisplayNameFor(m => m.Debate.Subject): @Html.DisplayFor(m => m.Debate.Subject)
    <br />
    @Html.DisplayNameFor(m => m.Debate.Description): @Html.DisplayFor(m => m.Debate.Description)
    <br />
    @Model.Debate.TimeLimit
</div>

<div class="chatDiv">
    @Html.Raw(Html.Encode(Model.Debate.ChatText).Replace("\n", "<br />"))
    <ul id="discussion"></ul>
</div>

@if (user == null)
{
    @Html.Partial("NonUser")
}
else if (user.userInformationId == Model.CreatorInformation.userInformationId)
{
    @Html.Partial("_Participant")
}
else if (user.userInformationId == Model.ChallengerInformation.userInformationId)
{
    @Html.Partial("_Participant")
}
else
{
    @Html.Partial("Spectator")
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
<script src="~/Scripts/Timer.js"></script>

<script src="/signalr/hubs"></script>
<script type="text/javascript">

        $(function() {
            var chat = $.connection.chatHub;
            $.connection.hub.start();

            chat.client.broadcastTime = function (time) {
                var formattedTime;
                var timeLimit = '@Model.Debate.TimeLimit';

                formattedTime = $('<div />').text(time).html() + '/' + timeLimit + ' seconds';

                $('.timerDiv').text(formattedTime).html();

                if (time == timeLimit) {
                    $('.chatDiv').append('<br /> The debate has come to an end! Please wait while results are processed...');

                    var debateId = '@Model.Debate.DebateId';

                    $.ajax({
                        url: "/Debate/ProcessDebateResult",
                        type: "POST",
                        async: false,
                        datatype: "json",
                        data: {
                            debateId: debateId
                        },
                        success: function (data) {
                            $('.chatDiv').append('<br />' + data);
                        }

                    });

                }
            };
        });

</script>
