@using System.Web.UI.WebControls
@model RateMyDebate.ViewModels.DebateDisplayViewModel

@{
    ViewBag.Title = "LiveChat";
    Layout = "";
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/RMD.css")
    @Scripts.Render("~/bundles/modernizr")
}





<style type="text/css">
    .container {
        background-color: #99CCFF;
        border: thick solid #808080;
        padding: 20px;
        margin: 20px;
    }
</style>

<div class="creatorVotesDiv">
    <div class="voteDiv" id="voteDivStyle">@Html.DisplayFor(m => m.Debate.CreatorVotes) votes</div>
    <div class="nickNameDiv">@Html.DisplayFor(model => model.CreatorInformation.nickName)</div>
</div>

<div class="challengerVotesDiv">
    <div class="voteDiv" id="voteDivStyle">
        @Html.DisplayFor(m => m.Debate.ChallengerVotes) votes
    </div>
    <div class="nickNameDiv">@Html.DisplayFor(model => model.ChallengerInformation.nickName)</div>
</div>

<div class="timerDiv">00:00</div>

<div class="descriptionDiv">
    @Html.DisplayNameFor(m => m.Debate.Subject): @Html.DisplayFor(m => m.Debate.Subject)
    <br />
    @Html.DisplayNameFor(m => m.Debate.Description): @Html.DisplayFor(m => m.Debate.Description)
</div>

<div class="chatDiv">
    @Html.DisplayFor(m => m.Debate.ChatText)
    <ul id="discussion">
        assdasdadads
    </ul>
</div>
<div class="messageDiv">
    <input type="button" id="sendmessage" value="Send" class="chatButton" />
    <input type="text" id="message" class="chatTextBox" />
</div>

<div></div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>

<script src="/signalr/hubs"></script>

<script type="text/javascript">
    $(function () {
        // Declare a proxy to reference the hub.
        var chat = $.connection.chatHub;

        // Create a function that the hub can call to broadcast messages.
        chat.client.broadcastMessage = function (name, message) {
            // Html encode display name and message.
            var encodedName = $('<div />').text('asdasd').html();
            var encodedMsg = $('<div />').text(message).html();

            $('#discussion').append('HEHEJEHJHJEHJEJHEHJEHJHEJ');
        };
        // Set initial focus to message input box.
        $('#message').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                // Call the Send method on the hub.
                chat.server.send($('#message').val(), $('#message').val());
                $('#message').val('').focus();
            });
        });
    });

    $(function () {
        var chatText = $.connection.chatHub;

    });
</script>
