@using System.Diagnostics
@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using RateMyDebate.Models
@using RateMyDebate.ViewModels
@model RateMyDebate.ViewModels.DebateDisplayViewModel


@{
    ViewBag.Title = "LiveChat";
    Layout = "";
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/RMD.css")
    @Scripts.Render("~/bundles/modernizr")
    var user = Session["UserInfoSession"] as UserInformation;
}

<div class="creatorVotesDiv">
    <div class="voteDiv" id="voteDivStyle">@Html.DisplayFor(m => m.Debate.CreatorVotes) votes</div>
    <div class="nickNameDiv">@Html.DisplayFor(model => model.CreatorInformation.nickName)</div>
</div>

<div class="challengerVotesDiv">
    <div class="voteDiv" id="voteDivStyle">
        @Html.DisplayFor(m => m.Debate.ChallengerVotes) votes
    </div>
    <div class="nickNameDiv">@Html.DisplayFor(model => model.ChallengerInformation.nickName)</div>
</div>

<div class="timerDiv">00:00:00</div>

<div class="descriptionDiv">
    @Html.DisplayNameFor(m => m.Debate.Subject): @Html.DisplayFor(m => m.Debate.Subject)
    <br />
    @Html.DisplayNameFor(m => m.Debate.Description): @Html.DisplayFor(m => m.Debate.Description)
</div>

<div class="chatDiv">
    @Html.DisplayFor(m => m.Debate.ChatText)
    <ul id="discussion"></ul>
</div>

@if (user == null)
{
    @Html.Partial("NonUser")
}
else if (user.accountId != Model.CreatorInformation.accountId)
{
    @Html.Partial("Creator")
}
else if (user.accountId == Model.ChallengerInformation.accountId)
{
    @Html.Partial("Challenger")
}
else
{
    @Html.Partial("Spectator")
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
<script src="~/Scripts/Timer.js"></script>

<script src="/signalr/hubs"></script>

<script type="text/javascript">
    $(function() {
        var chat = $.connection.chatHub;

        chat.client.broadcastMessage = function(name, message) {
            var formattedName;
            var formattedMessage;

            formattedName = '<div /> User';
            formattedMessage = $('<div />').text(message).html();

            $('#discussion').append(formattedName + ' :' + formattedMessage);
        };
        
        $('#message').focus();
        
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
        
                chat.server.send($('#message').val(), $('#message').val());
                $('#message').val('').focus();
            });
        });
    });

    $(function () {
        var chatText = $.connection.chatHub;

    });

    function saveChat(message) {
        $.ajax({
            url: "/Debate/SaveChatData",
            type: "POST",
            data: message
        });
    }

    $(document).ready(function () {
        $('.timerDiv').stopwatch().stopwatch('start');
    });

    var start = new Date;

    /*setInterval(function () {
        var seconds = (new Date - start) / 1000;
        $('.timerDiv').text(seconds + " Seconds");
    }, 1000);*/
</script>
