@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using RateMyDebate.Models
@using RateMyDebate.ViewModels
@model RateMyDebate.ViewModels.DebateDisplayViewModel

@{
    ViewBag.Title = "LiveChat";
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/RMD.css")
    @Scripts.Render("~/bundles/modernizr")
    var user = Session["UserInfoSession"] as UserInformation;
}

<div id="spectatorInformation">Welcome! You are a spectator. Click the creator or challenger button to vote for your favorite debator!</div>
<div id="spectatorChat">This is the spectator chat. It is visible only to logged in spectators. Share your thoughts with fellow spectators!</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
<script src="~/Scripts/Timer.js"></script>

<script src="/signalr/hubs"></script>
<script type="text/javascript">

        $(function() {
            var chat = $.connection.chatHub;
            $.connection.hub.start();

            chat.client.broadcastTime = function (time) {
                var formattedTime;
                var timeLimit = '@Model.Debate.TimeLimit';

                formattedTime = $('<div />').text(time).html() + '/' + timeLimit + ' seconds';

                $('.timerDiv').text(formattedTime).html();

                if (time == timeLimit) {
                    $('.descriptionDiv').append('DONEDONEDONEDONEDONDENOEONONDENODE');

                }
            };
        });

    $(document).ready(
        function () {
            $('#voteCreator').on("click", function () {
                $('#creatorName').css("background", "green");
                $('#challengerName').css("background", "red");
            $.ajax({
                url: "/Debate/PlaceVote",
                type: "POST",
                data: {
                    debateId: '@Model.Debate.DebateId',
                    votePosition: 1
                }

            });
            $('#spectatorInformation').append('<br />' + "You have placed your vote on the instigator!");
        });
        });

    $(document).ready(
    function () {
        $('#voteChallenger').on("click", function () {
            $('#challengerName').css("background", "green");
            $('#creatorName').css("background", "red");
            $.ajax({
                url: "/Debate/PlaceVote",
                type: "POST",
                data: {
                    debateId: '@Model.Debate.DebateId',
                    votePosition: 2
                }

            });
            $('#spectatorInformation').append('<br />' + "You have placed your vote on the challenger!");
        });
    });

</script>
