@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using RateMyDebate.Models
@using RateMyDebate.ViewModels
@model RateMyDebate.ViewModels.DebateDisplayViewModel


<div class="creatorVotesDiv">
    <div class="voteDiv" id="voteDivStyle">@Html.DisplayFor(m => m.Debate.CreatorVotes) votes</div>
    <div class="nickNameDiv">@Html.DisplayFor(model => model.CreatorInformation.nickName)</div>
</div>

<div class="challengerVotesDiv">
    <div class="voteDiv" id="voteDivStyle">
        @Html.DisplayFor(m => m.Debate.ChallengerVotes) votes
    </div>
    <div class="nickNameDiv">@Html.DisplayFor(model => model.ChallengerInformation.nickName)</div>
</div>

<div class="timerDiv">00:00</div>

<div class="descriptionDiv">
    @Html.DisplayNameFor(m => m.Debate.Subject): @Html.DisplayFor(m => m.Debate.Subject)
    <br />
    @Html.DisplayNameFor(m => m.Debate.Description): @Html.DisplayFor(m => m.Debate.Description)
</div>

<div class="chatDiv">
    @Html.DisplayFor(m => m.Debate.ChatText)
    <ul id="discussion">
        assdasdadads
    </ul>
</div>
