
@{
    ViewBag.Title = "Index";
}


<div class="FAQHeadline">
    <p>FAQ</p>
</div>
<div>
    <table class="tableFAQ" >
        <ul>
            <tr>
                <td class="tableDataFAQ">
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate sad a sd", "WhatIsRateMyDebate", "FAQ") </li>
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            </td>
            <td class="tableDataFAQ">
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            </td>
            <tr />


        </ul>
    </table>
</div>

<div class="FAQHeadline">
    <p>SUPPORT</p>
</div>
<div>
    <table class="tableFAQ">
        <ul>
            <tr>
                <td class="tableDataFAQ">
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            </td>
            <td class="tableDataFAQ">
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            <li class="li-header-size">@Html.ActionLink("Whats is Rate my Debate", "WhatIsRateMyDebate", "FAQ") </li>
            </td>
            <tr />


        </ul>
    </table>
</div>