@model RateMyDebate.Models.UserModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="loginCreate">
        <div>
            @Html.LabelFor(model => model.userName)
            <div>
                @Html.TextBoxFor(model => model.userName)
                @Html.ValidationMessageFor(model => model.userName)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.TextBoxFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.ConfirmPassword)
            <div>
                @Html.TextBoxFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div style ="margin-top: 5px;">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}