@model RateMyDebate.Models.UserModel

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="loginCreate" >
        <div class="form-horizontal">
            <h4>Change Password!</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.accountId)
            @Html.HiddenFor(model => model.userName)
            
            

            <div>
                @Html.LabelFor(model => model.Password)
                <div >
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div >
                @Html.LabelFor(model => model.ConfirmPassword)
                <div >
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div >
                <div style="margin-top: 5px;">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
