@model RateMyDebate.Models.UserInformation

@{
    ViewBag.Title = "Profile";
}



<br />
<div class="tableFAQ">
    <div class="Headline">
        <h3>Profile: @Model.nickName User foreignKey @Model.userId</h3>
    </div>
    <p style="text-align: right; padding-right: 10px; margin-top: -30px;">
        @Html.ActionLink("Edit", "Edit", new { id = Model.userInformationId })
    </p>

    <hr />

    <div class="detailFormat">

        <table style="width:200px">
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.fName)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.fName)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.lName)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.lName)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.nickName)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.nickName)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.age)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.age)
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Html.DisplayNameFor(model => model.Email)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>

        </table>

    </div>
    <hr />
    <div class="autobiographyFormat">
        <div>
            <b>
                @Html.DisplayNameFor(model => model.autobiography)
            </b>
        </div>
        @Html.DisplayFor(model => model.autobiography)
    </div>

</div>

